# Link to code:

# Imports.

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(data={
    'a': [1, 2, 3],
    'b': [4, 5, 6]
})

display(df)

   a  b
0  1  4
1  2  5
2  3  6

# Question 1.